* {
    box-sizing: border-box;
}

body {
    margin: 1em;
    font: 1.2em/1.3em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
    background: linear-gradient(150deg, rgba(39, 112, 108, 1) 10%, rgba(39, 80, 112, 1) 90%);
    color: #F3E1C0;
}


p {
    margin: 0 0 1em 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    background: rgba(0, 0, 0, 0);
}


header,
footer,
#main>article,
#main>nav,
#main>aside {
    margin: 4px;
    padding: 1em;
}

#main>article {
    background: rgba(0, 0, 0, 0);
    flex: 3 1 0;
    order: 2;
}

#main>nav,
#main>aside {
    background: rgba(0, 0, 0, 0);
    flex: 1 6 0;
    visibility: hidden;
}

#main>nav {
    order: 1;
}

#main>aside {
    order: 3;
}

header,
footer {
    display: block;
    min-height: 80px;
}

header {
    background: linear-gradient(135deg, rgba(243, 225, 192, 1) 5%, rgba(235, 170, 176, 1) 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.header-right {
    display: flex;
    justify-content: end;
}

.header-right ul {
    list-style: none;
}

.header-right li {
    display: inline;
    margin-left: 2rem;
}

.header-right li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #955670;
    transition: color 0.3s ease-in-out;
}

.header-right li a:hover {
    text-decoration: none;
    color: #275070;
}

.header-left {
    display: flex;
    justify-content: start;
    min-width: 20%;
    margin-left: -2rem;
}

footer {
    background: linear-gradient(135deg, rgba(243, 225, 192, 1) 5%, rgba(235, 170, 176, 1) 95%);
}


.hamburger-menu,
.btn {
    display: none;
}


/* Opened menu */
.open-menu {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(150deg, rgba(39, 112, 108, 1) 10%, rgba(39, 80, 112, 1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s all;
}

.open-menu ul {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.open-menu ul li {
    list-style: none;
    padding: 6px;
}

.open-menu ul li a {
    text-decoration: none;
    font-size: 6vw;
    font-weight: 400;
    color: #f3e1c0;
    transition: color 0.3s ease-in-out;
}

.open-menu ul li a:hover {
    color: #955670;
}

.btn {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    margin: 1rem;
    cursor: pointer;
    color: #955670;
}

.close {
    position: absolute;
    top: 5rem;
    right: 5rem;
}

.ham-menu-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
}

.show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    display: flex;
    color: #955670;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    align-items: center
}

.header-left h3 {
    color: #955670;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 100%;
}

.cards-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 1rem;
    overflow: hidden;
    height: 400px;
}

.trip-img {
    max-height: 500px;
    width: 100%;
}

.footer-card {
    width: 25%;
    min-width: 250px;
    margin: 1.5rem;
    height: auto;
    background: none;
    overflow: hidden;
    max-height: 350px;
}

.footer-card h3 {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 100;
    color: #955670;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.footer-card p {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 100;
    color: #955670;
    line-height: 1rem;
}

.tabs {
    width: 100%;
    background: rgba(243, 225, 192, 1);
}

ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0.33rem;
    overflow: auto;
}

ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}

ul#tabs-nav li a:hover,
ul#tabs-nav li.active a {
    color: rgba(39, 80, 112, 1);
}

#tabs-nav li a {
    text-decoration: none;
    font-weight: 100;
    color: #955670;
    transition: color 0.3s ease-in-out;
}

.tab-content {
    padding: 2rem;
    background-color: #955670;
}

.tabs-with-images .tab-content,
.image-tab {
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 500px;
}

.tab-image {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: -1rem;
    margin-top: -10%;
}

.nav-center li {
    float: center;
}

.text-title {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 2.5rem;
}

.tab-content iframe {
    width: 100%;
    height: auto;
    margin-bottom: -1rem;
}

.small-text {
    font-size: 1rem;
    line-height: 1rem;
}

.wide-img {
    text-align: center;
}

.wide-img img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
}

.art .tab-content {
    max-height: 800px;
}

.art .tab-image {
    margin-top: 0;
    margin-bottom: 0;
}

.data {
    overflow-x: scroll;
}

/* Mobile */
@media all and (max-width: 580px) {

    #main,
    #page {
        flex-flow: column;
    }

    #main>article,
    #main>nav,
    #main>aside {
        order: 0;
    }

    #main>nav,
    #main>aside,
    header,
    footer {
        min-height: 50px;

    }

    #main>nav,
    #main>aside {
        display: none;
    }

    .btn {
        display: block;
    }

    .header-right {
        display: none;
    }

    .header-left {
        display: flex;
        justify-content: start;
        min-width: 20%;
        margin-left: 0rem;
    }

    .card {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        height: auto;
    }

    .trip-img {
        max-height: 1000px;
        width: 100%;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .footer-card p {
        font-size: 1rem;
        line-height: 1.25rem;
    }

    footer iframe {
        width: 80vw;
    }
}